certifi==2022.5.18.1
future==0.18.2
mkl-fft>=1.3.1
mkl-random>=1.2.2
mkl-service==2.4.0
numpy>=1.24.3
Pillow==9.0.1
pyglet==1.5.27
six==1.16.0
wincertstore==0.2
matplotlib==3.9.0
mysql-connector-python==8.4.0
pandas==2.2.2
xlrd>=2.0.1
python-dotenv==1.0.0
PyQt5==5.15.9
bcrypt==4.1.1
openpyxl==3.1.5
psutil==6.0.0
css-inline==0.14.1
Flask==3.0.3
Werkzeug==3.0.4
requests==2.32.2